footer#primary-footer{
	padding:$baseline*3 0 $baseline*2 0;
	background:#15101B;
	ul.footer-list{
		li{
			font-size:12pt;
			line-height:24px;
			color:rgba(255,255,255,.5);
			a{
				@include transition-duration(.2s);
				color:rgba(255,255,255,.5);
				&:hover{
					color:white;
				}
			}
		}
	}
}